<h1>映画一覧</h1>

<% @movie.each do |mv| %>

  <p><%= mv.name %></p>

  <img src="<%= mv.image_url %>"/>
  

  <p><%= mv.id %></p>
    <p><%= mv.name %></p>
    
    <p><%= mv.year %></p>
    
    <p><%= mv.description %></p>

    <img src="<%= mv.image_url %>"/>
    
    <p><%= mv.is_showing %></p>
    
    <p><%= mv.created_at %></p>
    
    <p><%= mv.updated_at %></p>
    
  <% end %>