<h1>座席表</h1>

<h2>スクリーン</h2>

<table>
  <tbody>
      <tr>
        <td><%= @sheets[0].row %></td>
        <td><%= @sheets[0].column %></td>
        <td><%= @sheets[1].row %></td>
        <td><%= @sheets[1].column %></td>
        <td><%= @sheets[2].row %></td>
        <td><%= @sheets[2].column %></td>
        <td><%= @sheets[3].row %></td>
        <td><%= @sheets[3].column %></td>
        <td><%= @sheets[4].row %></td>
        <td><%= @sheets[4].column %></td>
      </tr>
      <tr>
        <td><%= @sheets[5].row %></td>
        <td><%= @sheets[5].column %></td>
        <td><%= @sheets[6].row %></td>
        <td><%= @sheets[6].column %></td>
        <td><%= @sheets[7].row %></td>
        <td><%= @sheets[7].column %></td>
        <td><%= @sheets[8].row %></td>
        <td><%= @sheets[8].column %></td>
        <td><%= @sheets[9].row %></td>
        <td><%= @sheets[9].column %></td>
      </tr>
      <tr>
       <td><%= @sheets[10].row %></td>
       <td><%= @sheets[10].column %></td>
       <td><%= @sheets[11].row %></td>
       <td><%= @sheets[11].column %></td>
       <td><%= @sheets[12].row %></td>
       <td><%= @sheets[12].column %></td>
       <td><%= @sheets[13].row %></td>
       <td><%= @sheets[13].column %></td>
       <td><%= @sheets[14].row %></td>
       <td><%= @sheets[14].column %></td>
      </tr>
  </tbody>
</table>