<h1>座席予約フォーム</h1>
<%= render 'layouts/flash_message' %>
<%= form_with url: "/movies/#{@movie_id}", method: :post, model: @post do |f|  %>
<%= render 'layouts/error_message', model: f.object %>　



<!--hiddenでパラメータで得た値の表示-->
<%= f.hidden_field :movie_id, :value => @movie_id %>映画作品
<%= f.hidden_field :schedule_id, :value => @schedule_id %>上映スケジュール

<%= f.hidden_field :sheet_id, :value => @sheet_id %>座席
<%= f.hidden_field :date, :value => @date %>日付<br>
<br>
<br>
<br>

<!--フォームは名前とメールだけ-->
<%= f.text_field :name %>予約者名
<%= f.text_field :mail %>予約者メールアドレス
<%= f.submit '予約' %>

<% end %>